<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <Binary
            Id="CustomActionsBinary"
            SourceFile="$(var.RollbackCustomAction.CustomActions.TargetDir)$(var.RollbackCustomAction.CustomActions.TargetName).CA.dll" />


        <!--
        ================================================================================
        Step 2 - WiX declarations
        ================================================================================
        
        These are the two interesting custom actions:
        - The first one is executed as part of the normal installation process.
        - The second one is the rollback performed when something goes wrong with the installation process in order to revert the changes.
    
        NEXT: Product.wxs
        -->

        <CustomAction
            Id="DoSomething"
            BinaryKey="CustomActionsBinary"
            DllEntry="DoSomething"
            Execute="deferred"
            Return="check" />

        <CustomAction
            Id="DoSomethingRollback"
            BinaryKey="CustomActionsBinary"
            DllEntry="DoSomethingRollback"
            Execute="rollback"
            Return="check" />

        <!--
        The only job of this custom action is to return a failure and trigger, in this way, the rollback process.
        -->

        <CustomAction
            Id="Crush_SetParameters"
            Property="Crush"
            Value="ErrorMessage=[ERROR_MESSAGE]" />

        <CustomAction
            Id="Crush"
            BinaryKey="CustomActionsBinary"
            DllEntry="Crush"
            Execute="deferred"
            Return="check" />

    </Fragment>
</Wix>